#header {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addOne {
    margin-bottom: 10px;
}
#footer {
    margin-top: 0;
    padding: 10px;
    background-color: black;
    color: grey;
}

